/* 18nov10abu
 * (c) Software Lab. Alexander Burger
 */

/* Lib */
.left {float: left;}
.right {float: right;}
.clr {clear: both;}
.norm {text-align: left;}
.align {text-align: right;}
.center {text-align: center;}
.black {color: black;}
.red {color: red;}
.green {color: green;}
.blue {color: blue;}
.bold {font-weight: bold;}
.mono {font-family: monospace;}

.em3 {width: 3em;}
.em5 {width: 5em;}
.em7 {width: 7em;} 
.em10 {width: 10em;}
.em15 {width: 15em;}
.em20 {width: 20em;}
.em25 {width: 25em;}
.em30 {width: 30em;}

/* Defaults */
body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #F0F0F0;
   font-size: small;
   margin: 0;
}

img {
   border: 0;
}

fieldset {
   border-style: none;
}

input, textarea, select {
   font-size: small;
   background-color: white;
}

caption {
   padding: 0 1em;
   text-align: left;
   margin-top: 2ex;
   background-color: #D0D0D0;
}

a {
   text-decoration: none;
}

.step a {
   background-color: #D0D0D0;
   padding: 2px;
}

a:hover {
   background-color: white;
}

/* Navigation */
#menu {
   position: absolute;
   top: 0;
   left: 0;
   width: 18em;
   height: 100%;
   padding: 1ex 0;
   background-color: #D0D0D0;
}

#menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#menu .cmd1, .act1, .cmd2, .act2, .cmd3, .act3, .cmd4, .act4 {
   list-style-position: inside;
	list-style-type: circle;
   padding: 0 0 0 2em;
}

#menu .act1, .act2, .act3, .act4 {
	list-style-type: disc;
}

#menu .sub1, .top1, .sub2, .top2, .sub3, .top3, .sub4, .top4 {
   list-style-position: inside;
   padding: 0 0 0 1em;
}

#expires {
   position: absolute;
   top: 0;
   right: 3px;
   color: red;
}

/* Tabulators */
.tab {
   margin-bottom: 1ex;
}

.tab td {
   padding: 1ex 1em;
}

.tab .top {
   font-weight: bold;
   border-top: 1px solid;
   border-left: 1px solid;
   border-right: 1px solid;
}

.tab .sub {
   background-color: #D0D0D0;
   border-bottom: 1px solid;
}

/* Main area */
#main {
   position: absolute;
   top: 0;
   left: 19em;
   padding: 1ex 0;
}

/* Charts */
.chart {
   width: 100%;
   white-space: nowrap;
}

.chart td {
   background-color: #E0E0E0;
}

.chart td.T {
   background-color: #D0D0D0;
}

.chart td.nil {
   background-color: white;
}

.btn {
   width: 1em;
}

/* Buttons */
.submit {
   font-weight: bold;
   background-color: #D0D0D0;
}

.edit {
   background-color: #66FF66;
}

/* Errors */
.err {
   color: red;
   background-color: yellow;
}

/* Fonts */
.tiny {
   font-size: smaller;
   padding: 0;
}

.note, .ask {
   font-weight: bold;
}

/* Alerts */
.alert {
   display: inline;
   padding: 1ex;
   margin: 1ex 0 1ex 5em;
   background-color: yellow;
   border: dashed thin;
}

.alert input {
   margin-top: 1ex;
}

/* Dialogs */
.dialog {
   padding: 1ex;
   margin: 1ex 5em 1ex 1em;
   border: dashed thin;
}
