/* 30dec06abu
 * (c) Software Lab. Alexander Burger
 */

/* Lib */
.left {float: left;}
.right {float: right;}
.clr {clear: both;}
.norm {text-align: left;}
.align {text-align: right;}
.red {color: red}
.blue {color: blue}


/* Defaults */
body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   margin: 0;
}

img {border: 0;}

/* Navigation */
#menu {
   position: absolute;
   top: 2%;
   left: 2%;
   width: 20%;
   height: 78%;
   padding: 0;
   margin: 0;
   background-color: rgb(70%,70%,70%);
}

#menu ul {
   list-style: none;
   padding: 0;
   margin: 6px auto 6px 0;
}

#menu a {
   text-decoration: none;
}

#menu a:hover {
   background-color: rgb(85%,85%,85%);
}

#menu .cmd1, .act1, .cmd2, .act2, .cmd3, .act3 {
   list-style-position: inside;
   padding: 0 0 0 12px;
}

#menu .sub1, .top1, .sub2, .top2, .sub3, .top3 {
   list-style-position: inside;
   padding: 4px 0 4px 12px;
}


/* Tabulators */
.tab a {
   color: black;
   text-decoration: none;
}

.tab td {
   padding: 4px 8px;
   margin: 4px;
}

.tab .top {
   background-color: rgb(85%,85%,85%);
}

.tab .sub {
   background-color: rgb(70%,70%,70%);
}


/* Main area */
#main {
   position: absolute;
   top: 2%;
   left: 26%;
}


/* Errors */
.err {
   color: red;
   background-color: yellow;
   margin-bottom: 12px;
}

/* Alerts */
.alert {
   display: inline;
   padding: 6px;
   margin: 12px 0 12px 60px;
   background-color: yellow;
   border: dotted 2px;
}

/* Dialogs */
.dialog {
   padding: 6px;
   margin: 12px 60px 12px 60px;
   background-color: rgb(90%,90%,90%);
   border: dotted 2px;
}
